body {
  margin: 0;
  padding: 0;
}

.left-panel {
  bottom: 0;
  float: left;
  position: relative;
  border-radius: 8px;
  height: 100%;
  background-color: rgb(177, 255, 161);
}

.left-panel ul {
  list-style: none;
  font-size: 1.4em;
}

ul .link {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-left: -12px;
}

.shop-name {
  color: #34495e;
}

.buttonElement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  color: rgb(248, 22, 79);
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
}

.item-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-form {
  width: 43rem;
}

.fa-bars {
  font-size: 2rem;
}

.fa-bars:hover {
  cursor: pointer;
  color: rgb(248, 22, 79);
}

.transaction-details {
  position: absolute;
  margin-left: 23rem;
}

.fa-icon {
  margin-right: 12px;
}

.table-row :hover {
  cursor: pointer;

}

.table {
  width: 50rem;
  margin-left: -8rem;

}

@media (max-width: 420px) {
  .left-panel ul {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;

  }


  .item-page {
    font-size: 12px;
    padding: 12px;
  }

  .home-form {
    position: absolute;
    margin-left: 5rem;
    width: 15rem;
  }

  .table {
    width: 28rem;
    margin: 0;

  }

  .col {
    padding: -0.5rem .5rem;
  }

  .Navbar-login {
    position: absolute;
    margin-left: 15rem;
    margin-top: -2rem;
  }

  .fa-bars {
    margin-right: 2rem;
    display: none;
  }

  .nav-title {
    display: none;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@keyframes shiftNav {
  0% {
    left: 0px;
  }

  100% {
    left: 3rem;
  }
}

.dataGrid {
  margin-right: -9rem !important;
}